*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
h1{
    color: #e53170;
    padding: 2rem;
}
body{
    margin:auto;
    text-align: center;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.container{
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
    
}
.row .col{
    float: left;
    width: calc(100% / 3);
    text-align: left;
    padding: 0.1rem;
    
}
img{
    height: 6rem;
    float: left;
}
.row{
    display: inline-block;
    width: 100%;
}
.intro{
    padding: 2rem;
}
.py{
    padding: 0.8rem;    
    float: left;
}
.cassetto{
    margin: 1.3rem 0.8rem;
    background-color: black;
    box-shadow: 0 0 0.5rem darkgrey;
    color: white;
}
a{
    text-decoration: none;
    color: #54c2d9;
}